body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.2s, filter 0.5s;
}

.image-container:hover img {
    transform: scale(1.1);
    filter: brightness(0.5);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
}

.image-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        height: 33.33vh;
    }

    .image-container .overlay {
        opacity: 1;
    }
}