{%load static%}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">


<body>

    <div id="Welcome">
        <p> Bienvenue sur mon site </p>
    </div>
    <div id="box-container">

        <div class="imgbox">

            <div class="text">
                Mon parcours
            </div>
            <a href="https://google.com" target="_blank">
                <img class="image" src={%static "img1.jpg" %}>
            </a>

        </div>

        <div class="imgbox">
            <div class="text">
                Mes projets
            </div>
            <a href="https://youtube.com" target="_blank">
                <img class="image" src={%static "img2.jpg" %}>
            </a>

        </div>

        <div class="imgbox">
            <div class="text">
                Cette image est stylée
            </div>
            <a href="https://youtube.com" target="_blank">
                <img class="image" src={%static "img3.jpg" %}>
            </a>

        </div>

    </div>

</body>
