{%load static%}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">


<body>

    <div id="Welcome">
        <p> Bienvenue sur mon site </p>
    </div>
    <div id="box-container">

        <div class="imgbox">

            <div class="text">
                Mon Parcours
            </div>
            <a href="/mon-parcours">
                <img class="image" src={%static "img1.jpg" %}>
            </a>

        </div>

        <div class="imgbox">
            <div class="text">
                Mes Projets
            </div>
            <a href="/mes-projets" >
                <img class="image" src={%static "img2.jpg" %}>
            </a>

        </div>

        <div class="imgbox">
            <div class="text">
                Mon Github
            </div>
            <a href="https://github.com/NathanFortyTwo" target="_blank">
                <img class="image" src={%static "img3.jpg" %}>
            </a>

        </div>

    </div>

</body>