{%load static%}

<link rel="stylesheet" href="{% static 'css/parcours.css' %}">

<body>
    <div class = "header">
    
        <div class = "download_button">
            <a href="{%static "cv_fr.pdf"%}" download="CV_FERET_NATHAN.pdf"> Télécharger mon CV (FR) </a>
        </div>
        
        <div class = "download_button">
            <a href="{%static "CV_FERET_Nathan_EN.pdf"%}" download="resume_FERET_NATHAN.pdf"> Download my resume (EN) </a>
        </div>
    </div>

    <div class = "parcours">
    
        Education : 
    
    <div class = "line">
        2019-2024 <a id = "tsp" href = "https://www.telecom-sudparis.eu" target="_blank">Telecom Sudparis</a> : Étudiant ingénieur numérique     </div>
</div>



</body>