{%load static%}

<link rel="stylesheet" href="{% static 'css/parcours.css' %}">



<div class = "background-paralax">
</div>
<body>
    <div class = scrolling-container>
        <div class = Year>2022</div>
        <div class = dot></div>
    </div>
    
<div class = "header">
    
    <div class = "download_button">
        <a href="{%static "cv_fr.pdf"%}" download="CV_FERET_NATHAN.pdf"> Télécharger mon CV (FR) </a>
    </div>
    
    <div class = "download_button">
        <a href="{%static "CV_FERET_Nathan_EN.pdf"%}" download="resume_FERET_NATHAN.pdf"> Download my resume (EN) </a>
    </div>
</div>
</body>