{%load static%}
<link rel="stylesheet" href="{% static 'css/projects_list.css' %}">
<body>

<div class="box-container">

    <div id = "card_0" class="flipping-card">
        <div class="flipping-card-in" id = "card_in_0">
            <div class="flipping-card-front">
            <img src="{%static "carte_1_front.png"%}"/>
            </div>
        <div class="flipping-card-back">
            <img src="{%static "carte_1_back.png"%}"/>
        </div>
    </div>
   
    </div>

<div class="desc">
    Juin 2022, ceci est mon dernier projet ! !
</div>
    
    
    <div id = "card_1" class="flipping-card">

        <div class="flipping-card-in" id = "card_in_1">
            <div class="flipping-card-front">
            <img src="{%static "carte_1_front.png"%}"/>
            </div>
        <div class="flipping-card-back">
            <img src="{%static "carte_1_back.png"%}"/>
        </div>
    </div>
    </div>
<div class="desc">
    Salut !
</div>
    
    <div id = "card_2" class="flipping-card">

        <div class="flipping-card-in" id = "card_in_2">
            <div class="flipping-card-front">
            <img src="{%static "carte_1_front.png"%}"/>
            </div>
        <div class="flipping-card-back">
            <img src="{%static "carte_1_back.png"%}"/>
        </div>

    </div>

</div>
<div class="desc">
    Bonsoir !
</div>
    
</body>
<script src="{% static 'js/card.js' %}"></script>   