{%load static%}
<link rel="stylesheet" href="{% static 'css/projects_list.css' %}">
<body>

<div class = "header">
    Flip a card to access project
</div>
<div class="box-container">

    <div id = "card_0" class="flipping-card">
        <div class="flipping-card-in" id = "card_in_0">
            <div class="flipping-card-front">
            <img src="{%static "carte_1_front.png"%}" >
            </div>
        <div class="flipping-card-back">
            <a href ="/mes-projets/tweet">
            
        <img src="{%static "carte_1_back.png"%}"/>
    </a>
        </div>
    </div>
   
    </div>

<div class="desc">
    Projet SEA-ROS,
    <p>-Preuves formelles, algorithmes distribués, SeaHorn, ROS</p>
</div>
    
    
    <div id = "card_1" class="flipping-card">

        <div class="flipping-card-in" id = "card_in_1">
            <div class="flipping-card-front">
            <img src="{%static "carte_1_front.png"%}"/>
            </div>
        <div class="flipping-card-back">
            <img src="{%static "carte_1_back.png"%}"/>
        </div>
    </div>
    </div>

<div class="desc">
    Projet Mood for tweet
    <p>Prédiction d'humeur d'un tweet (IA LSTM), analyse de tweets de célébrités</p>
</div>
    
    <div id = "card_2" class="flipping-card">

        <div class="flipping-card-in" id = "card_in_2">
            <div class="flipping-card-front">
            <img src="{%static "carte_1_front.png"%}"/>
            </div>
        <div class="flipping-card-back">
            <img src="{%static "carte_1_back.png"%}"/>
        </div>

    </div>

</div>
<div class="desc">
    Projet Image GeoGuessing <p>Prédiction de localisation de paysage (IA CNN) </p>
</div>
    
</body>
<script src="{% static 'js/card.js' %}"></script>   