{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/test.css' %}"> 

</head>
<body>
    <div class="grid-container">
        {%for image in list_images%}
        <div class="grid-item" onclick="handleClick({{forloop.counter}})">
            <img src={%static image.name%}>
            <div class="image-name">{{image.title}}</div>
        </div>
        {%endfor%}   


  
    
 

    </div>
    <div class="card" id="card0">0</div>
    <div class="card" id="card1">1</div>
    <div class="card" id="card2">2</div>
    <div class="mask" id ="mask0" onclick="handleClickMask()"></div>

    <script>
        var currentCard=-1;
        function handleClick(imageNumber) {
            currentCard = imageNumber;
            
            var card = document.getElementById("card" + imageNumber);
            card.style.display = "block";
            card.style.animation = "drop 1s forwards";

            var mask = document.getElementById("mask0");
            mask.style.display = "block";
            mask.style.animation = "dropMASK 1s forwards";
            
            
            // make the blur progressively stronger
            var blur = 0;
            var blurInterval = setInterval(function() {
                blur++;
                //blur grid container
                var grid = document.getElementsByClassName("grid-container")[0];
                grid.style.filter = 'blur(' + blur + 'px)';
                if (blur === 5) clearInterval(blurInterval);
            }, 100);

            
        }
        function handleClickMask(){
            //unblur grid container
            var grid = document.getElementsByClassName("grid-container")[0];
            grid.style.filter = 'blur(0px)';
            //hide mask
            var mask = document.getElementById("mask0");
            mask.style.animation = "monteMASK 1s forwards";
            //hide card
            var card = document.getElementById("card" + currentCard);
            card.style.animation = "monteCARD 1s forwards";
            

            
        }
    
    </script>
</body>
</html>
